<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AutoMock" version="1.0.3.2" targetFramework="net452" />
  <package id="Castle.Core" version="4.0.0" targetFramework="net452" />
  <package id="FakeHttpContext" version="0.2.1" targetFramework="net452" />
  <package id="Moq" version="4.7.0" targetFramework="net452" />
  <package id="Moq.AutoMock" version="0.4.0.0" targetFramework="net452" />
  <package id="MvcContrib.Mvc3.TestHelper-ci" version="3.0.100.0" targetFramework="net452" />
  <package id="NUnit" version="3.6.0" targetFramework="net452" />
  <package id="NUnitTestAdapter" version="2.0.0" targetFramework="net452" />
  <package id="RhinoMocks" version="3.6.1" targetFramework="net452" />
</packages>